.sticky-note {
    cursor: move;
    user-select: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.sticknote-mover {
    cursor: move;
    position: absolute;
    z-index: inherit;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: blue;
}
.stickynote-expander {
    cursor: pointer;
    position: absolute;
    z-index: inherit;
    width: 20px;
    height: 20px;
    top: calc(100% - 20px);
    left: calc(100% - 20px);
    background-color: rgb(134, 134, 179);
}