.sticky-note {
    user-select: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: text;
    white-space: pre-wrap;
}
.sticknote-mover {
    cursor: move;
    position: absolute;
    z-index: inherit;
    width: 25px;
    height: 25px;
    top: -10px;
    left: -10px;
    padding: 10px;
    /* background-color: blue; */
}
.sticknote-mover:hover, .stickynote-expander:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.stickynote-expander {
    cursor: pointer;
    position: absolute;
    z-index: inherit;
    width: 25px;
    height: 25px;
    top: calc(100% - 35px);
    left: calc(100% - 35px);
    padding: 10px;
    /* background-color: rgb(134, 134, 179); */
}
.imput{
    outline: none;
    text-align: center;
}